.detail {
  width: 250px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 25px 20px;
  margin: auto;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  justify-items: center;
}